<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My First App</title>
</head>
<body ng-app="myApp">
	<div ng-controller="timeController">
		<p align="center">{{getTime()}}</p>
	</div>
	<p align="center">██╗░░██╗███████╗██████╗░██╗░░██╗░█████╗░███████╗░██████╗████████╗██╗░░░██╗░██████╗<br>
		██║░░██║██╔════╝██╔══██╗██║░░██║██╔══██╗██╔════╝██╔════╝╚══██╔══╝██║░░░██║██╔════╝<br>
		███████║█████╗░░██████╔╝███████║███████║█████╗░░╚█████╗░░░░██║░░░██║░░░██║╚█████╗░<br>
		██╔══██║██╔══╝░░██╔═══╝░██╔══██║██╔══██║██╔══╝░░░╚═══██╗░░░██║░░░██║░░░██║░╚═══██╗<br>
		██║░░██║███████╗██║░░░░░██║░░██║██║░░██║███████╗██████╔╝░░░██║░░░╚██████╔╝██████╔╝<br>
		╚═╝░░╚═╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚═════╝░░░░╚═╝░░░░╚═════╝░╚═════╝░</p>

	<div ng-controller="principleController">
		<ul>
			<li ng-repeat="esercizio in exercise">{{$index}} - {{esercizio.nome}}</li>
		</ul>
		<select ng-model="selectedItem">
			<option ng-repeat="esercizio in exercise">{{$index}} - {{esercizio.nome}}</option>
		</select>
		<p ng-include="caricaPage(selectedItem)"></p>
	</div>	
	<script src="https:\\ajax.googleapis.com\ajax\libs\angularjs\1.3.14\angular.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>