<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<center>
    <div>INSERIMENTO NOTA</div><br>
    <form action="#" method="POST" th:action="@{/web-notes/inserisci/notes?codAzione=INSERISCI}" th:object="${nota}">
        <input type="text" th:field="*{titolo}" placeholder="titolo"/>
        <input type="text" th:field="*{contenuto}" placeholder="contenuto"/>
        <input type="submit" value="Salva"/>

    </form>
<br><br>
    <div>NOTE INSERITE</div><br>
    <ul>
        <li th:each="nota: ${listaNote}">
            <a th:text="${nota.id}">id</a>
            <b th:text="${nota.titolo}">Titolo nota</b>
            <p th:text="${nota.contenuto}">Contenuto</p>
        </li>
    </ul>
</center>
</body>
</html>